<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>42615317756-9r2cv9hb10ge0s1ua69dsedqbkqpdmh9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42615317756-9r2cv9hb10ge0s1ua69dsedqbkqpdmh9</string>
	<key>API_KEY</key>
	<string>AIzaSyCAcDoJ4EJpoIXZbfMgddl6fQit0rsBepE</string>
	<key>GCM_SENDER_ID</key>
	<string>42615317756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fleets.fleetsdownloader</string>
	<key>PROJECT_ID</key>
	<string>flutter-varios-aed02</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-varios-aed02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42615317756:ios:ea0bec00d0e94d5b3da379</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-varios-aed02.firebaseio.com</string>
</dict>
</plist>